@charset "utf-8";
    @font-face {
    font-family: helveticabold;
    src: url(fonts/helvetica_bold_0-webfont.eot);
    src: url(fonts/helvetica_bold_0-webfont.eot?#iefix) format('embedded-opentype'), url(fonts/helvetica_bold_0-webfont.woff) format('woff'), url(fonts/helvetica_bold_0-webfont.ttf) format('truetype'), url(fonts/helvetica_bold_0-webfont.svg#helveticabold) format('svg');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: helveticaregular;
    src: url(fonts/helvetica_0-webfont.eot);
    src: url(fonts/helvetica_0-webfont.eot?#iefix) format('embedded-opentype'), url(fonts/helvetica_0-webfont.woff) format('woff'), url(fonts/helvetica_0-webfont.ttf) format('truetype'), url(fonts/helvetica_0-webfont.svg#helveticaregular) format('svg');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: helveticaneue-light;
    src: url(fonts/helveticaneue-light.eot);
    src: url(fonts/helveticaneue-light.eot?#iefix) format('embedded-opentype'), 
		 url(fonts/helveticaneue-light.woff) format('woff'), 
		 url(fonts/helveticaneue-light.ttf) format('truetype'),
		 url(fonts/helveticaneue-light.svg#helveticaneue-light) format('svg');
    font-weight: 400;
    font-style: normal;
}
body {
    margin: 0;
    padding: 0;
}
.un_socialShareicn {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
	margin: 10px 0;
}
.un_socialShareicn > p {
    display: inline-block;
    font-size: 15px;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    width: auto;
}
.un_socialShareicn > div {
    display: inline-block;
    font-size: 15px;
    height: 25px;
    line-height: 20px;
    vertical-align: middle !important;
    width: auto;
}
.un_socialShareicn ul {
    display: inline-block;
    list-style: outside none none;
    margin: 0;
    padding: 0 0 0 10px;
    vertical-align: top;
    width: auto;
}
.un_socialShareicn ul li {
    display: inline-block;
    float: left;
    margin-right: 5px;
    text-align: center;
    vertical-align: top;
    width: auto !important;
	position: relative;
}
.un_socialShareicn li fb, .un_socialShareicn li iframe, .un_socialShareicn li div
{
	vertical-align: middle !important;
}
.un_sfIcon, .un_sfIcon a
{
	width: auto;
	display: inline-block;
	vertical-align: middle;
	position: relative;
	float: left;
}
.un_sfIcon .bot_no {
    background: rgba(0, 0, 0, 0) url("images/count_left_arow.png") no-repeat scroll 0 0 / 27px auto;
    display: inline-block;
    float: left;
    font-size: 12px;
    padding: 0 15px;
    position: relative;
    vertical-align: middle;
    width: auto;
}
li#un_gplusShareicon > div
{
	width: 65px !important;
}
.fb_iframe_widget iframe {
    max-width: none;
}
.un_sfIcon img
{
	height: 20px;
}